*{ 
    margin: 0;
    padding: 0 30px;
    scroll-behavior: smooth;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

button, input {
    border: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    font-family: inherit;
    font-size: 16px;
    outline: none;

}

.signup {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 50%;
    max-width: 460px;
    padding: 200px 40px;
    background: rgba(5, 5, 5, 0.28);
    backdrop-filter: blur(70px);
    box-sizing: border-box;
} 

.signup > h2 {
    text-align: center;
    padding-bottom: 10px;
    margin: 2 0 6px;
    color: rgb(255 255 255 / 96%);
    
}

.signup > h3 {
    margin: 0 0 30px;
    color: rgb(255 255 255 / 40%);
}

.form {
    margin: 0;
    display: grid;
    gap: 8px;

}

.textbox {
    position: relative;
    margin-bottom: 8px;

}

.textbox span {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    font-size: 22px;
    pointer-events: none;
    color: rgb(255 255 255 / 40%);
}

.textbox input {
    padding: 0 12px 0 1px;
    border-bottom: 2px solid rgb(255 255 255 / 5%);
    color: rgb(255 255 255 / 96%);
    height: 72px;
    transition: 0.3s;
}

:is(input:focus, input:valid)
~ label {
    translate: -40px -40px;
    scale: 0.875;

}

input:focus ~ label {
    color: rgb(255 255 255 / 40%);

}

input:focus {
    border-color: rgb(255 255 255 / 76%);

}

:is(input:focus, input:valid)
~ span {
    color: rgb(255 255 255 / 76%);
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 36px;
    translate: 0 -50%;
    color: rgb(255 255 255 / 40%);
    pointer-events: none;
    transition: 0.4s;  

}

.form button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-radius: 6px;
    background: rgb(255 255 255 / 12%);
    color: #f9f9f9;
    border: 0;
    cursor: pointer;
    transition: backroud-color;

}

 button{
    align-items: center;
} 

.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px; 
    text-align: center;
    font-size: 0.9rem;
    height: 40px;
    width: 205px;
    background-color: #211b49;
    color:#f9f9f9;
    border: none;
    cursor:pointer;
    transition: background-color 0.3s ease;

}

.submit-button:hover{
    background-color: rgb(18, 10, 48);

}

.signup p {
    color: rgb(255 255 255 / 50%);
}

.signup p > a {
    color: rgb(255 255 255 / 96%);
}


/* Possible background animations feature */
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #1d1d1f;
    overflow: hidden;
}

.background li {
    position: absolute;
    top: 70vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #0c0c0e;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 10s ease-in forwards infinite;
}

undefined
.background li:nth-child(0) {
    animation-delay: 2s;
    left: 17vw;
    top: 73vh;
    border-color: #ffffff;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 54vw;
    top: 80vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 87vw;
    top: 91vh;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 43vw;
    top: 96vh;
    border-color: #ffffff;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 0vw;
    top: 52vh;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 22vw;
    top: 12vh;
    border-color: #ffffff;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 93vw;
    top: 24vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 80vw;
    top: 69vh;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 66vw;
    top: 7vh;
    border-color: #120e2b;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 35vw;
    top: 3vh;
    border-color: #ffffff;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 75vw;
    top: 61vh;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 42vw;
    top: 46vh;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 12vw;
    top: 34vh;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 62vw;
    top: 35vh;
    border-color: #ffffff;
}
